.flat-top-infos {
  height: 6rem;
}
.flat-infos-header {
  font-size: 3rem;
  line-height: 3rem;
}
.flat-first-header {
  display: inline-block;
  width: 100%;
}
.flat-picture {
  width: 100%;
  height: auto;
  display: block;
}
.flat-map {
  width: 100%;
}
.facility-icon {
  height: 30px;
}
.facility-description {
  margin-left: 1rem;
}
