.flat-top-infos {
  height: 6rem;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    width: 100%;
  }
}
.flat-infos-header {
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  color: $brand-dark-grey;
}
.flat-first-header {
  display: inline-block;
  width: 100%;
}
.flat-second-header {
  .left {
    font-size: 18px;
  }
  .right {
    font-size: 20px;
  }
}
.flat-picture {
  width: 100%;
  height: auto;
  display: block;
}
.flat-map {
  width: 100%;
}
.facility-icon {
  height: 30px;
  @media (max-width: $small-screen) {
    height: 20px;
  }
}
.facility-description {
  margin-left: 1rem;
  @media (max-width: $small-screen) {
    margin-left: 0.5rem;
  }
}
