#landing-explanation {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
}
#flat-page-explanation {
  padding: 2rem 0;
}
.explanation-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-item {
  flex: 0 0 33%;
  padding: 0 1rem;
  font-size: 0.9rem;
  text-align: justify;
}
.content-header {
  text-transform: uppercase;
}
#landing-flats{
  margin-top: 2rem;
  .row .col {
    padding: 0 1rem;
  }
}
#carte-cergy {
  width: 100%;
  display: block;
}
