#see-flats-button {
  margin-top: 50px;
}
#landing-bg-icon {
  margin-bottom: 20px;
}
.header {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}
.subtitle {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
}

#landing-explanation {
  flex: 0 0 26%;
  display: flex;
  align-items: center;
}
#flat-page-explanation {
  padding: 2rem 0;
}
.explanation-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-item {
  flex: 0 0 33%;
  padding: 0 1rem;
  font-size: 0.9rem;
}
.content-header {
  text-transform: uppercase;
}
#landing-flats{
  margin-top: 2rem;
  .row .col {
    padding: 0 1rem;
  }
}
#carte-cergy {
  width: 100%;
  display: block;
}
