<div id="footer">
  <div class="footer-infos text-center">
    <span><%= link_to "Mentions légales", cgu_path %></span>
    <a href="mailto:leslarrisorange@gmail.com">Contact</a>
    <div>copyright 2017 - Gansky</div>
  </div>
</div>
