<div id="footer">
  <div class="footer-infos text-center">
    <span>Mentions légales</span>
    <a href="mailto:julie.pierre3@gmail.com">Contact</a>
    <div>copyright 2017 - Gansky</div>
  </div>
</div>
