<div class="navbar">
  <div class="container" id="navbar">
    <div id="brand">
      <%= image_tag 'logo-gansky.png' %>
    </div>
    <div>
      <div class="navbar-links">
        <%= link_to "Accueil", root_path %>
        <%= link_to "Les colocs", root_path %>
      </div>
    </div>
  </div>
</div>
