#footer {
  background-color: $brand-dark-grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  &.full-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .footer-infos {
    span {
      margin-right: 1rem;
    }
    a {
      margin-left: 1rem;
      color: white;
    }
  }
}
