#new_user_application {
  .col {
    display: inline-block;
    float: initial;
  }
  input::placeholder {
    text-align: center;
  }
  input[type=name], input[type=text], input[type=number], input[type=tel], input[type=email] {
    text-align: center;
    font-size: 1.2rem;
    height: 2.5rem;
    font-weight: 200;
    color: $brand-text-grey;
  }
  .input-field {
    margin-top: 0;
  }
}
.form-intro {
  h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: $brand-text-light-grey;
  }
  p {
    margin: 0;
    font-size: 1rem;
    color: $brand-text-light-grey;
    font-weight: 300;
    padding: 0 6rem;
    line-height: 1rem;
  }
}
.form-question {
  font-size: 1.5rem;
  font-weight: 500;
  color: $brand-text-grey;
  letter-spacing: 1.5px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
#show-step2-btn {
  margin-top: 2rem;
}
#step2 {
  margin-top: 6rem;
  h6 {
    font-size: 1rem;
    color: black;
    padding: 0 6rem;
    line-height: 1rem;
    margin: 0;
  }
}
.user_application_applicant_infos {
  width: 100%;
  margin-bottom: 2rem;
  textarea {
    height: 15rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    border: 1px solid $brand-bg-grey;
    margin-top: 1rem;
    width: 80%;
  }
  textarea:focus {
    border-bottom: 1px solid $brand-bg-grey !important;
    box-shadow: none !important;
  }
}
.form-secondary-question {
  color: $brand-text-grey;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#warrant-form-input, #visit-form-input {
  text-align: initial;
  label {
    text-align: initial;
  }
}
