#new_user_application {
  .col {
    display: inline-block;
    float: initial;
  }
  input::placeholder {
    text-align: center;
  }
  input {
    text-align: center;
  }
}
.user_application_applicant_infos {
  width: 70%;
  textarea {
    height: 8rem;
    border-radius: 10px;
    padding: 1rem 2rem;
  }
}
#warrant-form-input, #visit-form-input {
  text-align: initial;
  label {
    text-align: initial;
  }
}
