.btn-gansky {
  color: white;
  background-color: $brand-red;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  .fa {
    margin-left: 1rem;
  }
}
.btn-gansky:hover {
  text-decoration: none;
  opacity: 0.8;
}
.btn-initial {
  color: white;
  background-color: $brand-red;
  padding: 10px 55px;
  border-radius: 10px;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
}
.btn-initial:hover {
  text-decoration: none;
  opacity: 0.8;
}

.btn-application {
  color: white;
  background-color: $brand-red;
  width: 170px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 10px;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
}
.btn-application:hover {
  text-decoration: none;
  opacity: 0.8;
}
.btn-occupied {
  background-color: $brand-blue;
  display: inline-flex;
  flex-direction: column;
  line-height: initial;
  justify-content: center;
}
