<div id="confirmation-page">
  <div class="container text-center">
    <p>Demande enregistrée</p>
    <p>Nous reviendrons vers vous rapidement.</p>
    <%= link_to "Retour à la liste des appartements", flats_path, class: 'btn-initial' %>
  </div>
</div>
